<?xml version="1.0" encoding="UTF-8"?>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
<html>
  <body>
	<head>
		<script type="text/javascript" src="../js/jscharts.js"></script>
	</head>
    <h1>Monitoring Graphs</h1>
    <div id="graphs" class="columns">
      <div id="allresources" class="white">Loanding</div>
		<script type="text/javascript">
			
			var datagraphic = {{data}}; 
			var xlabels = new Array({{{xlabels}}});
			var myChart = new JSChart('allresources', 'line');
			myChart.setDataArray(datagraphic);
			myChart.setTitle({{{title}}});
			myChart.setTitleColor('#8E8E8E');
			myChart.setTitleFontSize(11);
			myChart.setAxisNameX('');
			myChart.setShowXValues(false);
			myChart.setAxisNameY({{{ytitle}}});
			for (i in xlabels[0]){
				myChart.setLabelX(xlabels[0][i]);
			}
			myChart.setAxisColor('#C4C4C4');
			myChart.setAxisValuesColor('#343434');
			myChart.setAxisPaddingLeft(100);
			myChart.setAxisPaddingRight(120);
			myChart.setAxisPaddingTop(50);
			myChart.setAxisPaddingBottom(80);
			myChart.setAxisValuesNumberX(5);
			myChart.setAxisValuesAngle(45);
			myChart.setGraphExtend(true);
			myChart.setGridColor('#c2c2c2');
			myChart.setLineWidth(6);
			myChart.setLineColor('#9F0505');
			myChart.setSize(700, 400);
			//myChart.setBackgroundImage('chart_bg.jpg');
			myChart.draw();
		</script>
      <div id="resourcebytime" class="white">Loading...</div>
    </div>
    <div class="clear"/>
  </body>
</html>
	
