<?xml version="1.0" encoding="UTF-8"?>
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
<html>
  <body>
    <head>
      <title>Monitoring Components</title>
    </head>
    <div id="header">
      <div id="watermark" class="bgimgselected"> </div>
      <div id="subtitle">
        <h1>Monitoring Components</h1>
      </div>
    </div>
    <div>
      <table border="1">
        <tr bgcolor="#9acd32">
          <th>Id</th>
          <th>Name</th>
          <th>Frequency</th>
          <th>Input</th>
          <th>Resource</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>metrics-module-citation-E1o_h2-Gx</td>
          <td>metrics-module-citation</td>
          <td>
            <input name="frequency" type="text" id="frequency" value="minute"/>
          </td>
          <td>
            <input size="50" name="input" type="text" id="frequency" value="&#10;      Blast&#10;    "/>
          </td>
          <td>
            <input size="10" name="resource" type="text" id="frequency" value="software"/>
          </td>
          <td>
            <div id="actions" class="columns">
              <div id="install" class="white">
                <form action="http://176.58.119.235:8081/install" method="post">
                  <fieldset>
                    <input type="image" src="images/install-button.jpg" alt="install" title="install component" class="button"/>
                  </fieldset>
                </form>
              </div>
              <div id="run" class="white">
                <form action="http://176.58.119.235:8081/run" method="post">
                  <fieldset>
                    <input type="image" src="images/run-button.jpg" alt="run" title="run component" class="button"/>
                  </fieldset>
                </form>
              </div>
              <div id="monitoring" class="white">
                <form action="http://176.58.119.235:8081/monitoring" method="post">
                  <fieldset style="height:15px">
                    <input type="hidden" id="idcomponent" name="idcomponent" value="metrics-module-citation-E1o_h2-Gx"/>
                    <input type="image" src="images/monitoring-button.jpg" alt="monitoring" title="monitoring component" class="button"/>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="clear"/>
          </td>
        </tr>
        <tr>
          <td>metrics-module-tweets-V10G4lmmx</td>
          <td>metrics-module-tweets</td>
          <td>
            <input name="frequency" type="text" id="frequency" value="minute"/>
          </td>
          <td>
            <input size="50" name="input" type="text" id="frequency" value="&#10;      Blast&#10;    "/>
          </td>
          <td>
            <input size="10" name="resource" type="text" id="frequency" value="software"/>
          </td>
          <td>
            <div id="actions" class="columns">
              <div id="install" class="white">
                <form action="http://176.58.119.235:8081/install" method="post">
                  <fieldset>
                    <input type="image" src="images/install-button.jpg" alt="install" title="install component" class="button"/>
                  </fieldset>
                </form>
              </div>
              <div id="run" class="white">
                <form action="http://176.58.119.235:8081/run" method="post">
                  <fieldset>
                    <input type="image" src="images/run-button.jpg" alt="run" title="run component" class="button"/>
                  </fieldset>
                </form>
              </div>
              <div id="monitoring" class="white">
                <form action="http://176.58.119.235:8081/monitoring" method="post">
                  <fieldset style="height:15px">
                    <input type="hidden" id="idcomponent" name="idcomponent" value="metrics-module-tweets-V10G4lmmx"/>
                    <input type="image" src="images/monitoring-button.jpg" alt="monitoring" title="monitoring component" class="button"/>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="clear"/>
          </td>
        </tr>
        <tr>
          <td>unique id</td>
          <td>Metric name</td>
          <td>
            <input name="frequency" type="text" id="frequency" value="execution time interval"/>
          </td>
          <td>
            <input size="50" name="input" type="text" id="frequency" value="&#10;      parameters to execute this component&#10;    "/>
          </td>
          <td>
            <input size="10" name="resource" type="text" id="frequency" value="database, software, computational, etc."/>
          </td>
          <td>
            <div id="actions" class="columns">
              <div id="install" class="white">
                <form action="http://176.58.119.235:8081/install" method="post">
                  <fieldset>
                    <input type="image" src="images/install-button.jpg" alt="install" title="install component" class="button"/>
                  </fieldset>
                </form>
              </div>
              <div id="run" class="white">
                <form action="http://176.58.119.235:8081/run" method="post">
                  <fieldset>
                    <input type="image" src="images/run-button.jpg" alt="run" title="run component" class="button"/>
                  </fieldset>
                </form>
              </div>
              <div id="monitoring" class="white">
                <form action="http://176.58.119.235:8081/monitoring" method="post">
                  <fieldset style="height:15px">
                    <input type="hidden" id="idcomponent" name="idcomponent" value="unique id"/>
                    <input type="image" src="images/monitoring-button.jpg" alt="monitoring" title="monitoring component" class="button"/>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="clear"/>
          </td>
        </tr>
        <tr>
          <td>unique id</td>
          <td>Metric name</td>
          <td>
            <input name="frequency" type="text" id="frequency" value="execution time interval"/>
          </td>
          <td>
            <input size="50" name="input" type="text" id="frequency" value="&#10;      otro!!!!!&#10;    "/>
          </td>
          <td>
            <input size="10" name="resource" type="text" id="frequency" value="database, software, computational, etc."/>
          </td>
          <td>
            <div id="actions" class="columns">
              <div id="install" class="white">
                <form action="http://176.58.119.235:8081/install" method="post">
                  <fieldset>
                    <input type="image" src="images/install-button.jpg" alt="install" title="install component" class="button"/>
                  </fieldset>
                </form>
              </div>
              <div id="run" class="white">
                <form action="http://176.58.119.235:8081/run" method="post">
                  <fieldset>
                    <input type="image" src="images/run-button.jpg" alt="run" title="run component" class="button"/>
                  </fieldset>
                </form>
              </div>
              <div id="monitoring" class="white">
                <form action="http://176.58.119.235:8081/monitoring" method="post">
                  <fieldset style="height:15px">
                    <input type="hidden" id="idcomponent" name="idcomponent" value="unique id"/>
                    <input type="image" src="images/monitoring-button.jpg" alt="monitoring" title="monitoring component" class="button"/>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="clear"/>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <h2>Output</h2>
    </div>
    <div id="results">
      <textarea name="outputtext" rows="10" cols="212">{{data}}</textarea>
    </div>
  </body>
</html>
